body {
    font-family: Verdana;
}

header {
    background-color: #AFAFAF;
    color: #FF5F00;
    text-align: center;
}

p:first-letter{
    font-size:150%;

}

nav {
    margin-top: 3%;
    margin-bottom: 3%;
}

table {
    border-collapse:collapse;
    border-color:black;
    width: 80%;
    box-shadow: 10px 10px 5px grey;
    margin-left: 100px;
    margin-top: 20px;



}

table th {
    background-color: #76B900;
    color: white;




}

table td,
table th{
    padding: 8px;
    border: solid black 2px;

}

table tr:nth-child(even) {
    background-color: white;
}

table tr:hover {
    background-color: white;
}

nav a {
    text-decoration: none;
    border: 1px solid #0082D1;
    background-color: #0082D1;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 7px;
    box-shadow: 5px 5px 5px grey;
}

nav a:hover {
    border: 1px solid #AFAFAF;
    background-color: white;
    color: #FF5F00;
}

footer {
    background-color: #FF5F00;
    color: black;
    text-align: center;
    padding: 20px;
}

